<p class="ekoodi-user-list-title">
  {{title}}
</p>

<!--<div *ngFor="let user of users" (click)="onUserSelect(user)">-->
  <!--<ekoodi-user-info [user]="user"></ekoodi-user-info>-->
  <!--<div *ngIf="user.firstName != 'Asko'">-->
  <!--{{user.firstName}} {{user.lastName}}-->
  <!--</div>-->
  <!--</div>-->

<mat-form-field class="example-full-width">
  <input matInput placeholder="First Name" [(ngModel)]="user.firstName">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Last Name" [(ngModel)]="user.lastName">
</mat-form-field>

<button mat-raised-button (click)="addUser()">Add User</button><br><br>

  <mat-list>
    <ekoodi-user-info *ngFor="let user of users"
      [user]="user">
    </ekoodi-user-info>
  </mat-list>


